duckdb==1.2.2
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1rc0
google-api-python-client==2.172.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
joblib==1.5.1
matplotlib==3.10.1
pandas==2.2.3
pathlib==1.0.1
plotly==6.1.2
scikit-learn==1.7.0
seaborn==0.13.2
skimpy==0.0.18
streamlit==1.45.1
